body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-right: 2%;
    padding-top: 0;
    overflow: hidden;
    background: linear-gradient(0.25turn, #5a340c, #c06122);
}
.nav-bar li{
    display: inline;
    float: right; 
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #FD5331;
    border-style: solid;
    border-width: 2px;
    border-color: #070707;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 45px;
}
p{
    font-size: 20px;
}
.highlight{
    font-weight: 700;
    color: #FE492E;
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;
    height: 600px;
}
#head{
    padding-left: 80px;
    padding-top: 10px;
}
.button{
    margin-top: 50px;
}
.anchor-button{
    text-decoration: none;
    padding: 10px 25px;
    background: linear-gradient(0.25turn, #f1922c, #eb6811);
    border-radius: 12px;
    color: white;
    font-weight: 600;
}

.half-width img{
    height: 100%;
    padding-left: 25%;
}
#body{
    background-image: url(images/shapes/7.png);
    margin-left: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 680px;
}
#about-image{
    padding-top: 50px;
    padding-left: 220px;
}
#about-body{
    padding-left: 10%;
    padding-top: 120px;
    padding-right: 20%;
}
#my-recipies{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 165%;
}
#recipies{
    margin-left: 4%;
    margin-right: 3%;
}
.recipies-three{
    width: 31%;
    margin-left: 25px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 15px 40px rgba(27, 26, 24, 0.842);
}
.recipies-three img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
}
#social-counts{
    margin: 7%;
    text-align: center;
    box-shadow: 10px 15px 40px rgba(27, 26, 24, 0.842);
   
}
.social{
    margin-top: 50px;
    width: 30%;
    line-height: 80%;
}
.social-icon{
    width: 5%;
    display: inline-block;
}
.social-icon img{
    width: 40%;
    height: 40%;
}
.footer{
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
    line-height: 80%;
    background-color: #0B0D17;
    color: white;
}
.highdark{
    color: #5B5B5B;
}
footer{
    text-align: center;
}
